<div *ngIf="book" [id]="book.isbn" class="card">
    <a routerLink="/books/{{book.isbn}}">
        <img class="card-img-top" [src]="book.thumbnails[0].url" [alt]="book.thumbnails[0].title" />
    </a>

    <div class="card-body">
        <h3 class="card-title">{{book.title}}</h3>
        <p class="card-text">{{book.description}}</p>
        <hr />
        <div class="row">
            <br-book-rating class="col" [rating]="book.rating"></br-book-rating>
            <p class="col price-tag">{{ book.price | currency:'EUR'}}</p>
        </div>
        <hr />
        <div class="row g-4">
            <div class="col">
                <button class="btn btn-green" (click)="doRateUp()" [disabled]="!canRateUp">
                    <i class="bi-hand-thumbs-up"></i>
                </button>
            </div>
            <div class="col">
                <button class="col btn btn-red" (click)="doRateDown()" [disabled]="!canRateDown">
                    <i class="bi-hand-thumbs-down"></i>
                </button>
            </div>
            <div class="col-12">
                <a routerLink="/books/{{book.isbn}}" class="btn btn-primary">
                    view details
                </a>
            </div>
        </div>
    </div>
</div>